<div class="container">
  <div class="gx-row d-flex align-items-center justify-content-between">
    <a href="/" class="logo">
      <h3 style="color: black;">Portfolio</h3>
    </a>

    <nav class="navbar">
      <ul class="menu">
        <li><a href="/">Ana Səhifə</a></li>
        <li><a href="/haqqimda">Haqqımda</a></li>
        <li><a href="/layiheler">Layihələr</a></li>
        <li><a href="/elaqe">Əlaqə</a></li>
      </ul>
      <a href="/elaqe" class="theme-btn">Mənimlə Əlaqə</a>
    </nav>

    <a href="/elaqe" class="theme-btn">Mənimlə Əlaqə</a>

    <div class="show-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</div>